/* Base SCSS file - Contains variables, utility and mixins */


/* Variables */
$font-sans: 'Roboto', sans-serif;
$font-serif: 'Droid serif', serif;

$primary-color: #00212c;
$primary-hover: darken($primary-color, 10%);
$secondary-color: #E6E8E6;
$secondary-hover: darken($secondary-color, 20%);
$secondary-light: lighten($secondary-color, 30%);
$detail-dark-color: #00171F;
$dark-accent-color: #6B0F1A;
$light-accent-color: #CED0CE;
$font-color: #000a0e;
$footer: #191919;

/* Typography */
body {
    background-color: $secondary-color;
    font-family: $font-serif;
    font-size: 1rem;
    color: $font-color;
}

p {
    margin-bottom: 1rem;
}

h1 {
    font-family: $font-sans;
    font-size: 1.9rem;
    padding: 1% 0;
}

h2 {
    @extend h1;
    font-size: 3.2rem;
    margin-bottom:2rem;
}

h3 {
    @extend h1;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

h4 {
    font-family: $font-sans;
    font-size: 1.4rem;
    font-weight: 700;
    color: $dark-accent-color;
    margin: 2rem 0 1rem 0;
}

/* Header styling */
header {
    background-color: $primary-color;
}

.header-logo,
.mobile-logo {
    color: $secondary-color;
    font-size: 1.9rem;
}

/* Block styling */

.welcome-wrapper { 
    background-color: $secondary-color;
    background-image: url('../img/img3.jpg'); //Photo by: Ricardo Gomez Angel /unsplash
    background-size: 100% auto;
}

.welcome-section {
    padding: 10rem 0 12rem 0;
}

.news-wrapper {
    background-color: $detail-dark-color;
    color: $secondary-color;
}

.news-section {
    padding: 5rem 0 10rem 0;
}

/* Footer styling */
footer {
    background-color: $footer;
    color: $light-accent-color;
    height: 100px;
}