/* Base SCSS file - Contains variables, utility and mixins */


/* Variables */
$font-stack: Helvetica, sans-serif;
$primary-color: #00171F;
$secondary-color: #CED0CE;
$detail-dark-color: #6B0F1A;
$detail-light-color: #A31621;
$font-color: #E6E8E6;


/* Typography */
body {
    background-color: $primary-color;
    font: 1.6rem $font-stack;
    color: $font-color;
}