/* Styles related to layout */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* CSS-grids*/

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}
